version: '2'
services:
  application:
    volumes:
      - ./:/var/www/html
  mysql:
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: blog
      MYSQL_USER: mostad
      MYSQL_PASSWORD: 123
