version: '2'
services:
  application:
    volumes:
      - ./:/var/www/html
      - ./conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
  mysql:
      environment:
        - MYSQL_DATABASE=blog
        - MYSQL_PASSWORD=123
        - MYSQL_ROOT_PASSWORD=123
        - MYSQL_USER=mostad
